name: ciphu_todb18dslop
on:
  workflow_dispatch:

jobs:
  
  deploy:
    runs-on: ubuntu-22.04
    steps:
      #TODO help me auth the ci runner with my vm only
      - name: Write SSH key
        run: |
            install -m 700 -d ~/.ssh
            echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
      - name: --- ssh to vm todb18
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT || 22 }}
          key_path: ~/.ssh/id_rsa
          username: phunp2
          host:     47.129.1.184
          script: |
            hostname
            echo "USER=$USER"
            pwd
            ls -la
            pwd
